
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&family=Inter:wght@200;700&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;500&family=Quicksand:wght@300&family=Ubuntu:wght@500&display=swap');      
*{
  font-family:Quicksand ;
}

.body_container{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.gue_container{
    height: 450px;
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    background-color: #f6e1e9;
}
.common_div{
    position: absolute;
    display: flex;
    width: 1300px;
    margin: auto;
    justify-content: space-between;
    top: 0;

}
.DR_img{
    margin-top: 32%;
}
.top_part{
    margin-top: 20px;
    height: 110px;
    width: 100%;
  line-height: 2px;
  box-sizing: border-box;
}
.login_line{
    border: 2px solid;
    width: 390px;
    border-radius: 5px;
    margin: auto;
    background-color:  #f8f9fa;
}
.login_inner_div{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin: auto;
}
.login_inner_div{
    width: 150px;
}
.login_inner_div>p{
    text-align: center;   
}
.or{
    display: flex;
    justify-content: center;
   
}
.continue_as_gue{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
.input_part{
    height: 400px;
    width: 100%;
    
}
.input_part>div{
    width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.line_1 div,.line_2 div,.line_3>div{
    height: 95%;
    width: 47%;
    margin: auto;
   
}
.line_4>div{
    width: 30%;
    height: 95%;
    margin: auto;
}
.line_5>div{
    height: 95%;
    width: 40%;
    margin: auto;
}
.input_part input{
    height: 80%;
    width: 97%;
    /* border-radius: 5px;
    border-color: transparent; */
}
.pincode_div{
    display: flex;
    
}
#gue_ip_pin{
    height: 80%;
    width: 320px;
}
.getDetailsBtn{
    padding: 8px 22px;
    background-color: #23272b;
    color: white;
    border-radius: 0px 5px 5px 0px;
    border-color: transparent;
    
}
.line_5 button{
    width: 100%;
    height: 95%;
    border-radius: 5px;
    border-color: transparent;
}
.cancelBtn{
    background-color: #23272b;
    color: white;
}
.saveBtn{
    background-color: #fc2779;
    color: white;
}



